# Pandas

- Um objeto DataFrame rápido e eficiente para manipulação de dados com indexação integrada;

= Ferramentas para leitura e gravação de dados entre estruturas de dados na memória e diferentes formatos: CSV e arquivos de texto, Microsoft Excel, bancos de dados SQL e o formato HDF5 rápido;

Alinhamento inteligente de dados e tratamento integrado de dados ausentes: Obtenha alinhamento automático baseado em rótulos em cálculos e manipule facilmente dados confusos em um formato ordenado;

Reformulação flexível e pivotagem de conjuntos de dados;

Fatiamento inteligente baseado em rótulos, indexação sofisticada e subconjunto de grandes conjuntos de dados;

As colunas podem ser inseridas e excluídas das estruturas de dados para tamanho Mutabilidadede;

- Fusão e junção de conjuntos de dados de alta performance;

A indexação de eixo hierárquico fornece uma maneira intuitiva de trabalhar com dados de alta dimensão em uma estrutura de dados de dimensão inferior;

- Funcionalidade de série temporal: geração e frequência de intervalo de datas conversão, estatísticas de janela móvel, mudança de data e atraso. Até mesmo criar deslocamentos de tempo específicos do domínio e tempo de ingresso séries sem perda de dados;

- Python com pandas está em uso em uma ampla variedade de acadêmicos e domínios comerciais, incluindo Finanças, Neurociência, Economia, Estatísticas, publicidade, análise da Web e muito mais.

In [6]:
import pandas as pd 
import seaborn 

df= seaborn.load_dataset("titanic")

ds = df.groupby('class').count()
ds

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone
class,,,,,,,,,,,,,,
First,216,216,216,186,216,216,216,214,216,216,175,214,216,216
Second,184,184,184,173,184,184,184,184,184,184,16,184,184,184
Third,491,491,491,355,491,491,491,491,491,491,12,491,491,491

In [4]:
print()       # primeiras linhas
print()       # resumo de colunas e tipos
print()   # estatísticas descritivas (numéricas)

In [5]:
# Coluna simples

# Múltiplas colunas

# Filtro de linhas (passageiros com menos de 18 anos)

## Valores ausentes

In [8]:
import yfinance as yf

# Baixar dados da Petrobras
df = yf.download("PETR4.SA", start="2000-01-01", end="2023-01-01")

print(df.head())

C:\Users\Luiz\AppData\Local\Temp\ipykernel_26768\1757692976.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("PETR4.SA", start="2000-01-01", end="2023-01-01")
[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open       Volume
Ticker      PETR4.SA  PETR4.SA  PETR4.SA  PETR4.SA     PETR4.SA
Date
2000-01-03  1.309280  1.309280  1.309280  1.309280  35389440000
2000-01-04  1.236851  1.236851  1.236851  1.236851  28861440000
2000-01-05  1.224371  1.224371  1.224371  1.224371  43033600000
2000-01-06  1.220137  1.220137  1.220137  1.220137  34055680000
2000-01-07  1.225708  1.225708  1.225708  1.225708  20912640000

In [12]:
tickers = yf.Tickers('MSFT AAPL GOOG')
tickers.tickers['MSFT'].info
df = yf.download(['MSFT', 'AAPL', 'GOOG'], period='10y')

C:\Users\Luiz\AppData\Local\Temp\ipykernel_26768\2500789129.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(['MSFT', 'AAPL', 'GOOG'], period='10y')
[*********************100%***********************]  3 of 3 completed